{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-astro-organize-imports"],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
