$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "break": 768px,
  "lg": 1024px,
  "xl": 1260px,
  "max": 1600px,
);

$color-white: #f1f5f9;
$color-red: red;
$color-black: #333;

$font-serif: "";
$font-en: "";
$font-base: "";
